name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          echo ${{ github.ref_name }}
          echo ${{ github.ref_name }} > version.txt
          deno task install && deno task dist
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            tak.exe
